@inherits LayoutComponentBase
@*<div class="sidebar">
        <NavMenu />
    </div>*@
<BlazoredModal Style="blazored-custom-modal" DisableBackgroundCancel="true" HideCloseButton="true" HideHeader="true" />
<div class="main">
    <div class="content px-4">
        @Body
    </div>
    @*<div class="copyright">
        Copyright &copy; 2020 Dale Sinder
    </div>*@
</div>

