@*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2020, Dale Sinder
    **
    **  Name: Test.razor
    **
    **  Description:
    **      Changes as test is tried here...
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http: //www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------*@

@page "/test"
@using Syncfusion.EJ2.Blazor.Buttons
@using Syncfusion.EJ2.Blazor.Spinner
<div>
    <EjsButton @onclick="@Click">Show/Hide Spinner</EjsButton>
    <div id="container"></div>
    <EjsSpinner @ref="SpinnerObj" Target="#container">
    </EjsSpinner>
</div>

@code{
    EjsSpinner SpinnerObj;
    string target { get; set; } = "#container";

    private async Task Click()
    {
        SpinnerObj.ShowSpinner(target);
        await Task.Delay(2000);
        SpinnerObj.HideSpinner(target);
    }
}