@page "/test"
@using Syncfusion.EJ2.Blazor.Buttons
@using Syncfusion.EJ2.Blazor.Spinner
<div>
    <EjsButton @onclick="@Click">Show/Hide Spinner</EjsButton>
    <div id="container"></div>
    <EjsSpinner @ref="SpinnerObj" Target="#container">
    </EjsSpinner>
</div>

@code{
    EjsSpinner SpinnerObj;
    string target { get; set; } = "#container";

    private async Task Click()
    {
        SpinnerObj.ShowSpinner(target);
        await Task.Delay(2000);
        SpinnerObj.HideSpinner(target);
    }
}