@*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2020, Dale Sinder
    **
    **  Name: DisplayMenu.razor
    **
    **  Description:
    **      Menu bar for DisplayPanel
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http: //www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------*@

@using System.Timers
@using Notes2021Blazor.Shared
@using Syncfusion.EJ2.Blazor.Navigations

@inject IJSRuntime jsRuntime

<div class="menu-control">
    <div class="layout">
        <div id="container">
            <EjsMenu Items="@menuItems" HamburgerMode="@HamburgerMode" CssClass="menubar-specs">
                <MenuEvents ItemSelected="OnSelect"></MenuEvents>
            </EjsMenu>
        </div>
    </div>
</div>

<style>
    .menu-control {
        text-align: center;
        color: #FFF;
        background-color: #777;
    }

    .layout #container {
        color: #FFF;
        background-color: #777;
    }

    .menubar-specs ul.e-menu {
        color: #FFF;
        background-color: #777;
        font-weight:600;
    }

</style>

@code {
    [Parameter] public NoteDisplayIndexModel Model { get; set; }
    [Parameter] public EventCallback<string> OnClick { get; set; }

    private bool HamburgerMode { get; set; } = false;

    private List<object> menuItems { get; set; }

    public int Width { get; set; }

    protected async override Task OnParametersSetAsync()
    {

        menuItems = new List<object>();

        object item = new { id = "Done", text = "LIsting" };
        menuItems.Add(item);
        item = new { id = "NextBaseNote", text = "Next Base" };
        menuItems.Add(item);
        item = new { id = "PreviousBaseNote", text = "Previous Base" };
        menuItems.Add(item);
        item = new { id = "NextNote", text = "Next" };
        menuItems.Add(item);
        item = new { id = "PreviousNote", text = "Previous" };
        menuItems.Add(item);
        item = new { id = "OutPutMenu", text = "Output" };
        menuItems.Add(item);
        item = new { id = "Forward", text = "Forward", parentId = "OutPutMenu" };
        menuItems.Add(item);
        item = new { id = "Copy", text = "Copy", parentId = "OutPutMenu" };
        menuItems.Add(item);
        item = new { id = "mail", text = "mail", parentId = "OutPutMenu" };
        menuItems.Add(item);
        item = new { id = "Mark", text = "Mark", parentId = "OutPutMenu" };
        menuItems.Add(item);
        item = new { id = "Html", text = "Html (expandable)", parentId = "OutPutMenu" };
        menuItems.Add(item);
        item = new { id = "html", text = "html (flat)", parentId = "OutPutMenu" };
        menuItems.Add(item);

        if (Model.myAccess.Write)
        {
            item = new { id = "NewResponse", text = "New Response" };
            menuItems.Add(item);
        }
        if (Model.myAccess.DeleteEdit || Model.myHeader.AuthorID == Model.myAccess.UserID)
        {
            item = new { id = "Edit", text = "Edit" };
            menuItems.Add(item);
            item = new { id = "Delete", text = "Delete" };
            menuItems.Add(item);
        }
        item = new { id = "Search", text = "Search" };
        menuItems.Add(item);
        item = new { id = "ShowHelp", text = "Z for HELP" };
        menuItems.Add(item);

        Width = await jsRuntime.InvokeAsync<int>("getWidth", "x");
    }

    protected Timer timer { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            timer = new Timer(100);
            timer.Elapsed += TimerTick;
            timer.Enabled = true;
        }
    }

    protected void TimerTick(Object source, ElapsedEventArgs e)
    {
        timer.Interval = 1000;
        CheckWidth();
    }

    protected async Task CheckWidth()
    {
        Width = await jsRuntime.InvokeAsync<int>("getWidth", "x");
        HamburgerMode = Width < 1150;
        StateHasChanged();
    }

    public async Task OnSelect(MenuEventArgs e)
    {
        if (e.Item.Id == "OutPutMenu")
            return;

        await OnClick.InvokeAsync(e.Item.Id);
    }
}
